@media (min-width: 1921px) {
  html {
    $ratio: 0;
    font-size: calc(10px + ($ratio * 10) * ((100vw - var(--refRes) * 1px) / var(--refRes)));
  }
}

@media (max-width: 1440px) {

  .footer__bottom-inner {
    padding: 1.6rem 0;
  }

  .news__head .btn {
    --button-font-size: 1.4rem;
  }
}

@media (max-width: 1200px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {
  body {
    // font-size: 1.2rem;
    font-size: 1.4rem;
  }

  .wrapper {
    padding-top: 8rem;
  }

  section {
    margin-bottom: 3rem;
  }

  .container {
    padding: 0 10rem;
  }

  .block-title {
    font-size: 2.5rem;
  }

  .card__head h2 {
    font-size: 2.5rem;
  }

  .link {
    font-size: 1.2rem;
  }

  .link i::before {
    width: 1.3rem;
    height: 1.3rem;
    font-size: 1.3rem;
  }

  .btn {
    --button-padding-x: 1.5rem;
    --button-padding-y: 1rem;
    --button-height: 4rem;
    --button-font-size: 1.4rem;
  }

  .form-input {
    font-size: 1.2rem;
    padding: 0.2rem 2rem 0.8rem 3.9rem;
    margin-bottom: 2rem;
  }

  .modal__head {
    // width: calc(100% - 4rem);
  }

  .modal .form-input {
    font-size: 1.2rem;
  }

  .modal .form-bottom p {
    font-size: 1.2rem;
  }

  .form-group i {}

  .header {
    height: 8rem;
  }

  .header__inner {
    grid-template-columns: 7.3rem auto auto 7.3rem;
    grid-template-rows: 5rem;
    gap: 0 2rem;
    align-content: center;
    height: 8rem;
  }

  .header__logo {
    width: 7.3rem;
    height: auto;
    background-color: transparent;
    grid-row: 1 / 2;
  }

  .header__logo-pic {
    width: 100%;
  }

  .innerPage .header__logo {
    background-color: var(--primary-color);
  }

  .header__info {
    grid-column: 3/4;
  }

  .header__info::before {
    display: none;
  }

  .header__info-item {
    display: none;
  }

  .header__contact-wrap {
    align-items: center;
  }

  .header__contact-phone {
    font-size: 1.4rem;
    line-height: 120%;
  }

  .header__contact-phone i {}

  .header__contact p {
    font-size: 1rem;
    line-height: 120%;
  }

  .header__contact-btn {
    display: none;
  }

  .nav {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0;
  }

  .nav__items {
    display: none;
  }

  .search {
    padding: 0;
    margin-left: 0;
    border-radius: 2.5rem;
    z-index: 103;
  }

  .search.search--show {
    width: calc(100dvw - 20rem - 4rem - 7.3rem - 7.4rem);
  }

  .search__btn {
    width: 3.2rem;
    height: 3.2rem;
  }

  .search i {
    font-size: 1.6rem;
  }

  .search input {
    font-size: 1.4rem;
  }

  .search__block li {
    padding: 1.5rem 2rem;
  }

  .search__block::after {
    border: 1rem solid transparent;
    border-bottom: 1.2rem solid var(--primary-color);
    left: 6rem;
  }

  .burger {
    display: flex;
    grid-column: 4/5;
  }

  /* hero */
  .hero {
    height: 31.1rem;
  }

  .hero__inner {
    padding: 2.3rem 0 0;
  }

  .hero__content {
    gap: 1rem;
    max-width: 28rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.4rem;
  }

  /* feat */
  .feat__items {
    margin-top: -3.4rem;
    gap: 2rem;
  }

  .feat__item {
    padding: 2rem;
    width: calc(50% - 1rem);
  }

  .feat__item h5 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .feat__item p {
    margin-bottom: 2rem;
  }

  .feat__item-btn {
    min-width: 13rem;
  }

  /* adv */
  .advan__inner {
    flex-direction: column;
    gap: 2rem;
  }

  .advan__content {
    gap: 2rem;
  }

  .advan__feat-img {
    margin-bottom: 2rem;
  }

  .advan__feat h6 {
    margin-bottom: 1.5rem;
  }

  .advan__feat-img {
    width: 9rem;
  }

  /* work */
  .work__item {
    width: 5rem;
    height: 28.4rem;
  }

  .work__item-content {
    grid-template-columns: 0fr 5rem;
    width: 100%;
  }

  .work__item-head span {
    width: 5rem;
    height: 5rem;
    font-size: 1.4rem;
  }

  .work__item-head p {
    font-size: 1.4rem;
    width: 100%;
  }

  .work__item-active {
    width: calc(100% - 15rem);
  }

  .work__item-active .work__item-content {
    grid-template-columns: 1fr 5rem;
  }

  .work__item-active .work__item-body {
    padding: 2rem;
    gap: 1.5rem;
  }

  .work__item-active .work__item-body h6 {
    transition-delay: 0.5s;
  }

  .work__item-active .work__item-body p {
    transition-delay: 0.5s;
  }

  .work__item-body {
    padding: 2rem 0;
  }

  .work__item-body h6 {
    font-size: 1.4rem;
    transition: 0s;
    transition-delay: 0s;
    width: 100%;
    min-width: 100%;
  }

  .work__item-body p {
    font-size: 1.2rem;
    transition-delay: 0s;
    width: 100%;
    min-width: 100%;
  }

  /* product*/
  .product {
    padding-top: 3rem;
    margin-bottom: 18.6rem;
    position: relative;
  }

  .product__inner {
    gap: 2rem;
  }

  .product__head {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .product__head h2 {
    font-size: 2.5rem;
    width: auto;
    line-height: 110%;
  }

  .product__head-btn {
    min-width: 13.5rem;
  }

  .product__slider {
    width: 100%;
  }

  .product__slider .swiper-slide {
    max-width: 100%;
  }

  .product__item {
    padding: 2rem 2rem 4rem;
  }

  .product__item-img {
    width: 74%;
    aspect-ratio: 1/1;
    margin-bottom: 1rem;
  }

  .product__item h3 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  .product__item p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 4rem;
    height: 4rem;
  }

  .product .slider__btns {}

  .product__head-download {
    width: 15rem;
    order: 3;
    color: var(--primary-color);
  }

  .product__head-download i {
    font-size: 2.4rem;
  }

  .product__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 3rem;
  }

  .product__body-btn {
    width: calc(100% - 18rem);
    order: 4;
    --button-font-size: 1.2rem;
  }

  .product__head-wrap {
    width: 100%;
    justify-content: space-between;
  }

  /* geo */
  .geo__head {
    gap: 3rem;
  }

  .geo__head h2 {
    width: calc(50% - 1.5rem);
    font-size: 2.5rem;
  }

  .geo__head p {
    width: calc(50% - 1.5rem);
    font-size: 1.4rem;
  }

  .geo__body {
    gap: 2rem;
  }

  .geo__body-count {
    height: 4.7rem;
    font-size: 6.5rem;
    letter-spacing: -0.5rem;
    gap: 1rem;
  }

  .geo__body-count span {
    // width: 18.9rem;
  }

  .geo__body-count.active .number:not(:first-child) {
    margin-left: calc(-1ch + 1rem);
  }

  .geo__body-img {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .geo__items {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .geo__item {
    width: calc(50% - 1rem);
    gap: 1rem;
  }

  .geo__item-wrap {
    gap: 0.5rem;
  }

  .geo__item-wrap p {
    font-size: 1.4rem;
    max-width: 17.7rem;
  }

  .geo__item-wrap span {
    font-size: 2rem;
  }

  .geo__item-block {
    width: 7rem;
    height: 7rem;
  }

  .geo__item-img {
    height: 3.2rem;
  }

  /* callback */
  .callback__inner {
    display: block;
  }

  .callback__form h2 {
    margin-bottom: 2rem;
  }

  .callback__form {
    padding: 4rem 7rem 3rem;
  }

  .callback__form p {
    font-size: 1.2rem;
  }

  .callback__btn {
    margin: 2rem 0 1rem;
  }

  .callback__img {
    display: none;
  }

  /* news */
  .news__inner {
    display: flex;
    flex-direction: column;
  }

  .news__head {
    margin-bottom: 2rem;
  }

  .news__head h2 {
    font-size: 2.5rem;
  }

  .news__head-btn {
    order: 3;
    width: 100%;
  }

  .news__body {
    margin-bottom: 2rem;
  }

  .news__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .news__item {
    display: none;
    height: 25.5rem;
    padding: 2rem;
  }

  .news__item:nth-child(1) {
    display: flex;
    grid-column: 1/3;
  }

  .news__item:nth-child(1) h6 {
    font-size: 2rem;
  }

  .news__item:nth-child(2) {
    display: flex;
    grid-column: 1/2;
  }

  .news__item:nth-child(3) {
    display: flex;
    grid-column: 2/3;
  }

  .news__item h6 {
    font-size: 1.4rem;
  }

  .news__item-count {
    font-size: 3rem;
  }

  .news__item-date {
    font-size: 1.2rem;
  }

  /* partner */
  .partner__container {
    padding: 0;
  }

  .partner__item {
    height: auto;
    padding: 0 1rem;
  }

  .partner__item-img {
    width: 100%;
    height: auto;
  }

  /* footer */
  .footer__inner {
    padding: 3rem 0;
    grid-template-columns: 28.17% 31.69% 21.13%;
    gap: 0 2rem;
  }

  .footer__list {
    display: none;
  }

  .footer .menu__list {
    display: block;
    grid-column: 1/4;
  }

  .footer .menu__list a {
    font-size: 1.4rem;
  }

  .footer .menu__list .menu__item-head a {
    font-size: 2rem;
  }

  .footer .menu__item {
    border-color: var(--primary-white-10);
  }

  .footer .menu__item:last-child {
    border: 0;
  }

  .footer .menu__item-body h4 {
    color: var(--primary-white);
  }

  .footer .menu__item:first-child .menu__item-body li:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .footer .menu__item-body h4:not(:first-child) {
    margin-top: 2rem;
  }

  .footer .menu__item-head i {
    color: var(--primary-white);
  }

  .footer__contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 3rem;
    border-top: 0.1rem solid var(--white-20);
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .footer__contact p {
    white-space: unset;
  }

  .footer__contact-phone {
    // font-size: 2rem;
    font-size: 2.4rem;
  }

  .footer__contact-img {
    width: 17rem;
    padding: 0;
  }

  .footer__bottom-inner {
    grid-template-columns: 1fr auto;
    padding: 1.3rem 0;
  }

  .footer__bottom-logo {
    width: 7.2rem;
    display: none;
  }

  .footer__bottom-inner p {
    white-space: normal;
    order: 3;
  }

  .footer__bottom-wrap {
    gap: 0.5rem;
  }

  .footer__bottom-wrap a {}

  .footer__bottom-made a {
    font-size: 1.2rem;
  }

  .footer__bottom-wrap a:hover {
    color: var(--primary-white);
  }

  #made-link {
    order: 4;
  }

  .footer__bottom-wrap a:not(#made-link) {
    text-decoration-line: underline;
  }

  /* catalog */
  .dropdown {
    display: block;
    height: 4rem;
  }

  .dropdown__container {
    top: calc(100% + 0.5rem);
  }

  .catalog {
    padding-top: 3rem;
  }

  .catalog__head {
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }

  .catalog__head .tabs__btns {
    display: none;
  }

  .catalog__items {
    gap: 2rem;
  }

  .catalog__item {
    width: calc(50% - 1rem);
  }

  .catalog__title {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .filter__item {
    font-size: 1.2rem;
    min-width: 7rem;
    height: 4rem;
  }

  .catalog .tabs__btns {
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: calc(100% + 4rem);
    margin-left: -2rem;
    padding: 0 2rem;
    // display: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
      background: none;
    }
  }

  .wrapper.innerPage {
    padding-top: 11.7rem;
  }

  .breadcrumb {
    top: 8rem;
  }

  .breadcrumb__inner {
    padding: 1rem 0;
    height: 3.7rem;
  }

  .breadcrumb ul {
    font-size: 1.2rem;
  }

  /* card */
  .breadcrumb .tabs__btns {
    display: flex;
  }

  .breadcrumb .tabs__btn {
    font-size: 1.2rem;
    min-width: 8.3rem;
  }

  .breadcrumb .tabs__btn:not(.dropdown__label) {
    height: 3.7rem;
  }

  .card__head .filter {
    display: block;
  }

  .card__head .filter__item {
    min-width: 6rem;
    height: 3rem;
    font-size: 1rem;
  }

  .card__inner {
    gap: 2rem;
  }

  .card__block {
    padding: 2rem;
  }

  .card__block-link {
    top: 2rem;
    left: 2rem;
    width: 4rem;
    height: 4rem;
  }

  .card__block-link i {
    font-size: 1.1rem;
  }

  .card__block .filter__items {
    display: none;
  }

  .card__brand {
    max-width: 9.6rem;
    left: 2rem;
    bottom: 2rem;
  }

  .sticker {
    width: 5rem;
    height: 5rem;
    top: 0.9rem;
    right: 0.9rem;
  }

  .sticker span {
    font-size: 1.2rem;
  }

  .card__block-img {
    width: 100%;
  }

  .card__head {
    padding: 3rem 0 0;
    gap: 2rem;
    margin: 0;
    border: 0;
  }

  .card__head .filter__items {
    display: flex;
  }

  .card__body {
    padding: 0 0 2rem;
    margin: 0;
    border: 0;
    gap: 3rem;
  }

  .card__list {
    gap: 1.5rem;
  }

  .card__item {
    padding: 0;
    gap: 0.5rem;
  }

  .card__item-img {
    display: none;
  }

  .card__item p {
    font-size: 1.2rem;
  }

  .card__item span {
    font-size: 1.4rem;
  }

  .card__btn {
    max-width: 20.1rem;
  }

  /* certificates */
  .certif {
    padding-top: 2rem;
  }

  .certif__head {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .certif__items {
    gap: 2rem;
  }

  .certif__item {
    width: calc(50% - 1rem);
    height: 34.6rem;
    padding: 2rem;
  }

  .certif__item-title {
    font-size: 1.6rem;
  }

  .certif__item-img {
    width: 11.4rem;
    height: 11.4rem;
  }

  .catalog__btns,
  .tabs__btns {
    gap: 1rem;
  }

  .catalog__btns {
    width: calc(50% - 1rem);
  }

  .catalog__head .dropdown {
    width: calc(50% - 1rem);
  }

  .catalog__btn,
  .tabs__btn:not(.dropdown__label) {
    height: 4rem;
    font-size: 1.4rem;
    padding: 1rem 2.5rem;
  }

  /* news page */
  .innerPage .news {
    padding-top: 2rem;
  }

  .innerPage .news__item:nth-child(1) {
    grid-column: 1/3;
    height: 25.7rem;
    padding: 2rem;
  }

  .innerPage .news__item:nth-child(1) .news__item h6 {
    font-size: 1.6rem;
  }

  .innerPage .news__item:nth-child(1) .news__item-date {
    font-size: 1.2rem;
  }

  .innerPage .news__item:nth-child(1) .news__item-count {
    font-size: 3rem;
  }

  .innerPage .news__item:not(:first-child) {
    width: 100%;
  }

  .innerPage .news__item {
    display: flex;
  }

  /* vacancy */
  .vacancy {
    padding-top: 3rem;
  }

  .vacancy__title {
    margin-bottom: 1.4rem;
  }

  .vacancy__text {
    font-size: 1.4rem;
  }

  .vacancy__content {
    gap: 2rem;
  }

  .vacancy__body {
    gap: 2rem;
  }

  .vacancy__img {
    max-height: 22.5rem;
  }

  .vacancy__block {
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem;
  }

  .vacancy__block-title {
    font-size: 2rem;
    width: auto;
  }

  .vacancy__items {
    max-width: unset;
    gap: 4rem;
  }

  .vacancy__item-title {
    font-size: 1.2rem;
  }

  .vacancy__item.active .vacancy__item-body {
    padding: 2rem 0;
  }

  .vacancy__item-list h6 {
    font-weight: 700;
    font-size: 1.2rem;
  }

  .vacancy__item-list li p {
    font-size: 1.2rem;
  }

  .vacancy__item-img {
    width: 4rem;
    height: 4rem;
  }

  .vacancy__item-content {
    gap: 1.5rem;
  }

  .vacancy__item-bottom {
    padding-top: 0.5rem;
  }

  .vacancy__item-bottom .btn {
    --button-font-size: 1.2rem;
  }

  /* contacts */
  .contacts {
    padding: 3rem 0 22.5rem;
  }

  .contacts__title {
    margin-bottom: 3rem;
  }

  .contacts__items {
    gap: 2.4rem;
  }

  .contacts__item {
    gap: 2rem;
  }

  .contacts__item-title {
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  .contacts__list {
    font-size: 1.2rem;
  }

  .contacts__list li {
    gap: 1rem;
  }

  .contacts__list p {
    font-size: 1.4rem;
  }

  .contacts__list li:not(:last-child) {
    margin-bottom: 2rem;
  }

  .contacts__list-link {
    font-size: 1.4rem;
  }

  .innerPage .title {
    font-size: 4rem;
  }

  .contacts-us {
    padding: 0 0 3rem 0;
  }

  .contacts-us__map {
    margin: -19.5rem 0 3rem;
    height: 46.8rem;
  }

  .contacts-us::before {
    height: 13.5rem;
    top: unset;
    left: 0;
  }

  .contacts-us__blocks {
    flex-direction: column;
    gap: 6rem;
  }

  .contacts-us__block {
    width: 100%;
    height: 50%;
    gap: 2rem;
  }

  .contacts-us__block-title {
    font-size: 1.4rem;
  }

  .contacts-us__block-text {
    font-size: 1.4rem;
  }

  .contacts-us__block:last-child {
    padding: 0;
  }

  .contacts-us__block-link {
    font-size: 4rem;
  }

  /* articles */
  .articles {
    padding-top: 3rem;
  }

  .articles__container {
    flex-direction: column;
  }

  .articles__inner {
    width: 100%;
  }

  .articles__date {
    font-size: 1.4rem;
  }

  .articles__img {
    width: 100%;
    height: auto;
    margin: 0 0 2rem;
  }

  .articles__text {
    font-size: 1.4rem;
    margin: 0 0 2rem;
  }

  .sidebar {
    width: 100%;
    padding: 2rem;
  }

  .sidebar__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .sidebar__item-link {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .sidebar__item-wrap {
    align-items: flex-end;
  }

  .sidebar__item {
    padding-bottom: 2rem;
  }

  .sidebar__item-count {
    font-size: 4rem;
  }

  .sidebar__items {
    gap: 2rem;
  }

  .sidebar__item-text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  /* about */
  .about {
    padding-top: 3rem;
  }

  .about__title {
    margin-bottom: 3rem;
  }

  .about__blocks {
    gap: 2rem;
  }

  .about__block {
    width: calc(100% - 30rem);
  }

  .about__content {
    width: 28rem;
    gap: 1.5rem;
  }

  .about__content h2 {
    font-size: 2rem;
    order: -3;
  }

  .about__content p {
    font-size: 1.4rem;
  }

  .history__slider {
    margin-bottom: 3rem;
  }

  .about__img {
    height: 22.5rem;
  }

  .about__presentation {
    margin-top: -3.3rem;
    margin-right: 0;
    padding: 2rem;
    width: 20rem;
    height: 11.4rem;
  }

  .about__presentation p {
    font-size: 1.4rem;
  }

  .video__link {
    order: -2;
    gap: 1rem;
    position: static;
    transform: none;
  }

  .video__link-icon {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    background-color: var(--primary-red);
  }

  .video__link-icon i {
    font-size: 1rem;
    color: var(--white);
  }

  .video__link-text {
    font-size: 1.2rem;
    color: var(--primary-black);
  }

  .history__title {
    margin-bottom: 3rem;
  }

  .history__slide {
    width: 22rem;
  }

  .history__slider-item {
    // padding-top: 5rem;
  }

  .history__slider-count {
    height: 2rem;
    margin-bottom: 3rem;
  }

  .history__slider-item h3 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .history .swiper-slide-active .history__slider-item h3 {
    font-size: 3rem;
  }

  .history__slider-line {
    margin-bottom: 3rem;
  }

  .history__slider-item p {
    font-size: 1.2rem;
    max-width: 21rem;
  }

  .history__adv-items {
    gap: 2rem;
  }

  .history__adv-img {
    height: 4rem;
    margin-bottom: 3rem;
  }

  .history__adv-item {
    font-size: 1rem;
    line-height: 110%;
    padding: 3rem 3rem 1.5rem 3rem;
  }

  .history__adv-item h6 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .values {
    padding: 3rem 0;
  }

  .values__inner {
    gap: 2rem;
  }

  .values__content {
    width: 20rem;
  }

  .values__block {
    width: calc(100% - 22rem);
    width: 42.7rem;
  }

  .values__content-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .values__thumbs .swiper-pagination {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .values__slider .swiper-button-next {
    width: 4rem;
    height: 4rem;
  }

  .values__slider .swiper-button-next::before {
    font-size: 1rem;
  }

  .values__slider-title {
    display: none;
  }

  .mission {
    background-position: -7.7rem 11.5rem;
  }

  .mission__inner {
    gap: 0;
  }

  .mission__content {
    width: 25rem;
    padding: 0 0 5rem;
  }

  .mission__quote-icon {
    height: 4.3rem;
    margin-bottom: 2rem;
  }

  .mission__quote p {
    font-size: 2rem;
  }

  .mission__photo {
    margin: 0;
    height: 33.3rem;
  }

  .mission__content span {
    gap: 1rem;
    font-size: 1.4rem;
  }

  .mission__content span city {
    font-size: 1.2rem;
  }

  .mission__photo-img {
    width: auto;
  }

  .history__slider-line span::before {
    width: 1.5rem;
    height: 1.5rem;
  }

  /* quality */
  .quality__hero {
    height: 25.5rem;
    background-size: cover;
  }

  .quality__head {
    height: calc(100% - 5rem);
  }

  .quality__head-btn {
    display: none;
  }

  .innerPage .title.quality__head-title {
    font-size: 2rem;
  }

  .quality__body {
    margin-top: -5rem;
    padding: 3rem;
  }

  .quality__body-title {
    font-size: 1.6rem;
  }

  .quality__list-title {
    font-size: 1.2rem;
  }

  .quality__list li {
    font-size: 1.4rem;
  }

  .quality__form {
    gap: 3rem;
  }

  .quality__item {
    gap: 2rem;
  }

  .quality__table {
    margin-top: -0.75rem;
  }

  .quality__list-row {
    gap: 1rem;
  }

  .quality__list li:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .quality__list-row li:not(:last-child) {
    margin-bottom: 0;
  }

  .quality__table th,
  .quality__table td {
    font-size: 1.4rem;
    padding: 0.75rem 0;
  }

  .quality__item-wrap {
    gap: 2rem;
  }

  .quality .callback__form p {
    margin-top: -1rem;
  }

  /* cookie */
  .cookie__block {}

  /* section */
  .section {
    gap: 3rem;
  }

  .section__head h1 {
    font-size: 2rem;
  }

  .section__download {
    gap: 0.5rem;
  }

  .section__download i {
    width: 1.6rem;
    height: 1.6rem;
  }

  .section__download span {
    font-size: 1.2rem;
  }

  .policy h2 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  .policy p {
    margin-bottom: 1.5rem;
  }

  .policy ul {
    margin-bottom: 1.5rem;
  }

  .policy li {
    margin-bottom: 1.5rem;
  }

  .privacy .main {
    padding-top: 3rem;
  }

  /* results */
  .results {
    margin-top: 2rem;
  }

  .results__head {
    margin-bottom: 2rem;
  }

  .results__head h1 {
    font-size: 2rem;
  }

  .results__items {
    gap: 2rem;
  }

  .results__item {
    gap: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .results__item h3 {
    font-size: 1.4rem;
  }

  .results__item p {
    font-size: 1.4rem;
  }

  /* buy */
  .buy {
    padding: 3rem 0 3rem;
  }

  .buy h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .buy__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem 3rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
  }

  .buy__item {
    width: calc(50% - 1.5rem);
  }

  .buy__item li {
    font-size: 1.4rem;
    max-width: unset;
  }

  .buy__body h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .buy__item a {
    font-size: 4rem;
  }

  .buy__body:last-child .buy__items {
    flex-direction: column;
  }

  .buy__body:last-child .buy__item {
    width: 100%;
  }

  .buy-page .callback__inner {
    display: flex;
    flex-direction: column;
  }

  .buy-page .callback__form {
    width: 100%;
    padding: 3rem 10rem;
  }

  /* modal */
  .modal__box {
    max-width: 35rem;
    padding: 3rem 2rem;
  }

  .modal__head {
    margin-bottom: 2rem;
  }

  .modal__head h2 {
    font-size: 2rem;
  }

  .modal__close-btn {
    top: 1rem;
    right: 1rem;
  }

  .product__head-download {
    gap: 0.5rem;
    font-size: 1.2rem;
  }

  .product__head-download img {
    width: 2.4rem;
    height: 2.4rem;
  }



  /* principles */
  .principles {
    margin-bottom: 3rem;
    background-image: url(./../images/principles/cover-planshet.png);
  }

  .principles-page .partner {
    display: none;
  }

  .principles__inner {
    flex-direction: column;
    gap: 4rem;
    padding: 3rem 0;
  }

  .principles__head {
    gap: 2rem;
  }

  .principles__head h1 {
    font-size: 4rem;
  }

  .principles__head p {
    font-size: 1.4rem;
  }

  .principles__body {
    max-width: none;
  }

  .principles__items {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .principles__item {
    width: calc(50% - 1.5rem);
    gap: 1rem;
  }

  .principles__item img {
    width: 7rem;
    height: 7rem;
  }

  .principles__item-wrap {
    gap: 1rem;
  }

  .principles__item-wrap p {
    font-size: 1.4rem;
  }

  .principles__item-wrap span {
    font-size: 2rem;
  }

  .principles-feat__inner {
    gap: 2rem;
  }

  .principles-feat__block {
    width: 100%;
    gap: 2rem;
  }

  .principles-feat__block:nth-child(even) img {
    float: right;
  }

  .principles-feat__block:nth-child(even) .principles-feat__block-wrap {
    float: left;
  }

  .principles-feat__block img {
    width: calc(50% - 1rem);
  }

  .principles-feat__block:nth-child(1),
  .principles-feat__block:nth-child(3) {
    margin-top: 0;
  }

  .principles-feat__block-wrap {
    padding: 3rem 2rem;
    width: calc(50% + 7.3rem);
    gap: 2rem;
  }

  .principles-feat__block-wrap h3 {
    font-size: 2rem;
  }

  .principles-feat__desc {
    width: 100%;
  }

  .principles-feat__desc h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .principles-feat__desc-wrap {
    column-gap: 2rem;
  }
}

@media (max-width: 660px) {
  .container {
    padding: 0 2rem;
  }

  /* partner */
  .partner__container {
    padding: 0;
  }

  /* product */
  .product__head-wrap,
  .product__head-btns,
  .product__head-btn {
    width: 100%;
  }

  .product__head-btn {
    min-width: auto;
    white-space: nowrap;
  }

  .product__head-btn.tabs__btn {
    padding: 1rem 2rem;
  }

  .buy-page .callback__form {
    width: 100%;
    padding: 3rem 2rem;
  }

  .search.search--show {
    width: calc(100dvw - 4rem - 4rem - 7.3rem - 7.4rem);
  }
}

@media (max-width: 520px) {

  .wrapper.innerPage {
    padding-top: 10.8rem;
  }

  .hero {
    background-image: url(./../images/main/hero-mob.png);
    background-size: cover;
    background-position: right bottom;
    height: 45.9rem;
  }

  .hero__inner {
    padding: 3rem 0 0;
  }

  .hero h1 {
    font-size: 4rem;
  }

  .hero h1 span {
    display: none;
  }

  .hero p {
    max-width: 26rem;
  }

  .advan {
    margin-bottom: 2rem;
  }

  .advan__feat {
    gap: 2rem;
  }

  .advan__feat-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
  }

  .advan__feat-item:nth-child(1) {
    padding: 0;
    border: 0;
  }

  .advan__feat-item:nth-child(2) {
    padding: 0;
    border: 0;
  }

  .advan__feat-item:nth-child(3) {
    padding: 0;
    border: 0;
  }

  .advan__feat-item:nth-child(4) {
    padding: 0;
    border: 0;
  }

  .advan__feat-img {
    width: 11rem;
    object-fit: contain;
    margin: 0;
    flex-shrink: 0;
  }

  .advan__feat h6 {
    margin-bottom: 1rem;
  }

  .sticker {
    width: 4rem;
    height: 4rem;
    top: 1rem;
    right: 1rem;
  }

  .sticker span {
    font-size: 1rem;
  }

  .link {
    font-size: 1rem;
    gap: 0.5rem;
  }

  .header__inner {
    grid-template-columns: auto auto auto 5rem;
    grid-template-rows: 4.7rem;
    gap: 0 1rem;
  }

  .header__logo {
    width: fit-content;
    height: 5rem;
  }

  .header__logo-pic {
    width: auto;
    height: 100%;
  }

  .header__contact-phone {
    gap: 0.5rem;
  }

  .header__contact-wrap {
    padding: 0 0.6rem;
  }

  .header__contact-phone i {
    width: 2rem;
    height: 2rem;
  }

  .header__contact-links {
    padding: 0 0.6rem;
  }

  .header__contact-link {
    padding: 0.5rem 0;
    gap: 0.5rem;
  }

  .header__contact-link:nth-child(3) {
    padding-bottom: 1rem;
  }

  .header__contact-info {
    padding: 1rem 0 1.5rem;
    text-align: center;
    font-size: 1rem;
  }

  .header__info {
    height: fit-content;
  }

  .burger {
    width: 5rem;
  }

  .nav {
    display: none;
  }

  .search {}

  .search.search--show {
    width: calc(100dvw - 4rem - 2rem - 5.4rem - 5.4rem);
  }

  /* feat */
  .feat__items {
    flex-direction: column;
    margin-top: -5.2rem;
    gap: 1rem;
  }

  .feat__item {
    padding: 2rem;
    width: 100%;
  }

  .feat__item p {
    font-size: 1.4rem;
    margin: 0 0 2rem;
  }

  .feat__item-btn {}

  /* work */
  .work__items {
    flex-direction: column;
  }

  .work__item {
    width: 100%;
    height: 5rem;
  }

  .work__item-active {
    width: 100%;
    height: 23.6rem;
  }

  .work__item-content {
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 5rem;
    transition: all 0.2s ease;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 3.83%, rgba(0, 0, 0, 0.73) 100%);
  }

  .work__item-active .work__item-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5rem;
  }

  .work__item-head {
    flex-direction: row-reverse;
  }

  .work__item-head p {
    padding: 0 2rem;
    width: fit-content;
    writing-mode: unset;
    transform: unset;
  }

  .work__item-body {
    padding: 0 2rem;
    gap: 1rem;
  }

  .work__item-active .work__item-body {
    gap: 1rem;
    padding: 2rem;
    margin-bottom: -5rem;
  }

  .work__item-active .work__item-body h6 {
    transition-delay: unset;
  }

  .work__item-active .work__item-body p {
    transition-delay: unset;
  }

  .work__item-img {
    height: 23.6rem;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }

  .work__item-body p {
    width: calc(100% - 5rem);
    min-width: unset;
  }

  /* product */
  .product {
    padding-top: 3rem;
    margin-bottom: 21.4rem;
  }

  .product__inner {
    gap: 1rem;
  }

  .product__item {
    padding: 2rem 2rem 3rem;
  }

  .product__head {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .product__head h2 {}

  .product__body {
    margin-bottom: -16.4rem;
  }

  .product__slider {
    margin-bottom: 1rem;
  }

  .product__item-img {
    max-width: 16.5rem;
    margin-bottom: 1rem;
  }

  .product__item h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .product__item p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  /* geo */
  .geo__head {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .geo__head h2 {
    width: 100%;
  }

  .geo__head p {
    width: 100%;
  }

  .geo__body-count {
    width: 100%;
    gap: 1rem;
  }

  .geo__body-count span {
    width: fit-content;
  }

  .geo__body-count img {
    max-width: 28.4rem;
    width: 100%;
  }

  .geo__body-img {
    margin-bottom: 2rem;
  }

  .geo__item {
    width: 100%;
    gap: 2rem;
  }

  .geo__item-wrap {
    justify-content: center;
    gap: 1rem;
  }

  /* callback */
  .callback__form {
    padding: 3rem 2rem 2rem;
  }

  .callback__form h2 {
    margin-bottom: 2rem;
  }

  .callback__btn {
    margin: 2rem 0 1rem;
  }

  /* news */
  .news__head h2 {}

  .news__head-btn {
    min-width: 15.6rem;
  }

  .news__items {
    gap: 1rem;
  }

  .news__item {
    height: 15.8rem;
  }

  .news__item-date {
    font-size: 1rem;
  }

  .news__item-count {
    font-size: 2rem;
  }

  /* partner */
  .mob-block {
    display: flex !important;
  }

  .partner__items {
    transition: all 0.5s ease;
    animation: scroll 10s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-200%);
    }
  }

  .partner__item {
    min-width: 25%;
    height: 9rem;
    aspect-ratio: unset;
  }

  .partner__item-img.lenta {
    height: 1.8rem;
  }

  .partner__item-img.yarche {
    height: 1.5rem;
  }

  .partner__item-img.spar {
    height: 1rem;
  }

  .partner__item-img.magnit {
    height: 1.1rem;
  }

  .partner__item-img.mariara {
    height: 1rem;
  }

  .partner__item-img.auchan {
    height: 1.2rem;
  }

  .footer__inner {
    grid-template-columns: 1fr 1fr;
    gap: 3rem 2rem;
  }

  .footer__list {
    max-width: 100%;
  }

  .footer__list:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/ auto;
  }

  .footer__list:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .footer__list:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/ auto;
  }

  .footer__list-item:not(:last-child) {
    margin-bottom: 2rem;
  }

  .footer__contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-column: 1 / 3;
    grid-row: 2/ 3;
    padding: 0;
    margin: -3rem 0 0 0;
    border: 0;
    padding-top: 3rem;
    border-top: 0.1rem solid var(--primary-white-10);
  }

  .footer__bottom-inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 2rem;
    padding: 3rem 0;
  }

  .footer__bottom-inner p {
    font-size: 1.2rem;
  }

  .footer__bottom-wrap a {
    font-size: 1.2rem;
  }

  .footer__bottom-logo {
    display: none;
  }

  /* catalog */
  .catalog__items {
    gap: 1rem;
  }

  .catalog__item {
    width: calc(50% - 0.5rem);
  }

  .catalog__btns {
    width: 100%;
  }

  .catalog__btn {
    width: 100%;
  }

  .catalog__head .dropdown {
    width: 100%;
  }

  .catalog__head {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .catalog__all-products {
    width: 100%;
  }

  .filter {
    width: 100%;
  }

  .filter__text {
    font-size: 1.2rem;
  }

  .filter__items {
    width: 100%;
  }

  .filter__item {
    height: 4rem;
    min-width: auto;
    width: 100%;
  }

  .breadcrumb__inner {
    padding: 0.7rem 0;
    height: 2.8rem;
  }

  .breadcrumb ul {
    font-size: 1rem;
  }

  /* card */
  .breadcrumb .tabs__btns {
    display: none;
  }

  .card__head .filter {
    display: none;
  }

  .card__inner {
    gap: 2rem;
    grid-template-columns: 1fr;
    padding-top: 2rem;
  }

  .card__block .filter__items {
    display: flex;
    left: 1rem;
    width: fit-content;
  }

  .card .filter__item {
    min-width: 6rem;
  }

  .card__block {
    padding: 1rem;
    grid-row: 2/3;
    height: 42.3rem;
  }

  .card__head {
    padding: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    gap: 1.4rem;
  }

  .card__body {
    gap: 2rem;
    padding: 0;
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .card__item-img {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
  }

  .card__btn {
    max-width: 100%;
  }

  /* certificates */
  .certif__head {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .tabs__btns {
    width: 100%;
    flex-wrap: wrap;
  }

  .tabs__btn:not(.dropdown__label) {
    width: calc(50% - 0.5rem);
  }

  .certif__item {
    height: 21.5rem;
    padding: 2rem 1rem;
  }

  .certif__item-title {
    font-size: 1rem;
  }

  .certif__item-img {
    width: 7.1rem;
    height: 7.1rem;
  }

  .certif__item-text {
    font-size: 1rem;
  }

  /* news page */
  .innerPage .news__head {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .innerPage .news__item:nth-child(1) {
    height: 15.9rem;
  }

  .innerPage .news__item:nth-child(1) .news__item-date,
  .innerPage .news__item .news__item-date {
    font-size: 1.2rem;
  }

  .innerPage .news__item:nth-child(1) .news__item-date,
  .innerPage .news__item .news__item-date {
    font-size: 1.2rem;
  }

  .innerPage .news__item:nth-child(1) .news__item-count,
  .innerPage .news__item .news__item-count {
    font-size: 2.5rem;
  }

  .innerPage .news__item h6 {
    width: 100%;
  }

  .about-page .news__head .btn {
    --button-font-size: 1.2rem;
    --button-height: 3rem;
  }

  .about-page .news__head {
    flex-direction: row;
  }

  /* vacancy */
  .vacancy__content {
    gap: 1rem;
  }

  .vacancy__block {
    padding: 2rem;
  }

  .vacancy__img {
    height: 20.2rem;
    object-fit: cover;
  }

  .vacancy__items {
    gap: 2rem;
  }

  .vacancy__item.active .vacancy__item-body {
    padding: 1.5rem 0 0;
  }

  .vacancy__item-list h6 {
    margin-bottom: 2rem;
  }

  .vacancy__item-list li:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .vacancy__item-bottom {
    gap: 1.5rem;
  }

  /* contacts */
  .contacts__items {
    gap: 1rem;
  }

  .contacts__item {
    width: calc(50% - 0.5rem);
  }

  .contacts__list {
    font-size: 0.8rem;
  }

  .contacts-us {
    padding: 0 0 2rem 0;
  }

  .contacts-us::before {
    height: 9.5rem;
  }

  .contacts-us__blocks {
    gap: 4rem;
  }

  .contacts-us__block-link {
    font-size: 2rem;
  }

  /* articles */
  .articles__title {
    margin-bottom: 2rem;
  }

  .articles__date {
    margin-bottom: 2rem;
  }

  .articles__text {
    margin-bottom: 1.5rem;
  }

  .articles__img {
    margin-bottom: 1.5rem;
  }

  .articles__list {
    font-size: 1.4rem;
  }

  /* about */
  .about__blocks {
    flex-direction: column;
  }

  .about__block {
    width: 100%;
  }

  .about__img {
    width: 100%;
    height: auto;
  }

  .about__presentation {
    width: 17rem;
    height: 10rem;
    margin-top: -10rem;
    padding: 1rem;
  }

  .about__presentation p {
    font-size: 1.2rem;
  }

  .about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
  }

  .about__content h2 {
    grid-column: 1/3;
  }

  .about__content p {
    grid-column: 1/3;
  }

  .video__link {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0;
    align-items: flex-start;
  }

  .history__slide {
    width: 50%;
  }

  .history__slider-item p {
    width: calc(100% - 1rem);
  }

  .history__adv-items {
    flex-direction: column;
    gap: 1rem;
  }

  .history__adv-item {
    display: grid;
    grid-template-columns: 8rem auto;
    justify-content: flex-start;
    gap: 0 2rem;
    text-align: left;
    padding: 2rem;
  }

  .history__adv-img {
    grid-column: 1/2;
    grid-row: 1/3;
    margin: 0;
  }

  .values {
    padding-bottom: 0;
    border-bottom: 0;
  }

  .values__inner {
    flex-direction: column;
  }

  .values__content {
    width: 100%;
  }

  .values__block {
    width: 100%;
  }

  .values__content-title {}

  .values__thumbs .swiper-pagination {
    display: none;
  }

  .values__slider .swiper-button-prev::before {
    font-size: 1rem;
  }

  .values__slider .swiper-button-prev {
    display: flex;
    right: 7rem;
    bottom: 2rem;
  }

  .values__slider .swiper-button-next {
    right: 2rem;
    left: unset;
    bottom: 2rem;
  }

  .values__slider-img {
    z-index: 1;
  }

  .values__slider-item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: 0.61;
  }

  .values__slider-item span {
    display: block;
    z-index: 3;
  }

  .mission {
    padding-top: 2rem;
    background-image: none;
  }

  .mission__inner {
    position: relative;
  }

  .mission__photo {
    position: absolute;
    right: 0;
    bottom: 0;
    height: fit-content;
  }

  .mission__photo-img {
    width: 24.2rem;
    height: auto;
  }

  .mission__content {
    gap: 10rem;
    z-index: 1;
    padding: 0 0 3rem;
  }

  .mission__quote p {
    font-size: 1.6rem;
    width: 20rem;
  }

  .mission+.news {
    padding-top: 0;
  }

  /* quality */
  .quality__hero {
    height: 13rem;
  }

  .quality__head {
    height: calc(100% - 3rem);
  }

  .quality__body {
    margin-top: -3rem;
    padding: 2rem;
  }

  .quality__item {
    gap: 1rem;
  }

  .quality__list li:not(:last-child) {
    margin-bottom: 1rem;
  }

  .quality__list-row li:not(:last-child) {
    margin-bottom: 0;
  }

  .quality__body-title {
    font-size: 1.4rem;
  }

  .quality__list-row li:first-child,
  .quality__list-row li:last-child {
    display: none;
  }

  /* cookie */
  .cookie__block {
    padding: 1rem;
    gap: 1rem;
    width: fit-content;
  }

  /* section */
  .section {
    gap: 2rem;
  }

  /* buy */
  .buy h1 {
    font-size: 2rem;
  }

  .buy__body h2 {
    font-size: 1.4rem;
  }

  .buy__items {
    gap: 3rem;
  }

  .buy__item {
    width: 100%;
  }

  .buy__item h3 {}

  .buy__item li {
    margin-bottom: 1.5rem;
  }

  .buy__item a {
    font-size: 3rem;
  }

  /* menu */
  .menu__inner {
    padding: 1rem 2rem 6rem 2rem;
  }

  .menu__body {
    max-width: unset;
  }

  .menu.menu--opened .menu__close {
    position: absolute;
  }

  .menu__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 5rem;
    height: 5rem;
    background-color: var(--primary-color);
  }

  .menu__close span::before,
  .menu__close span::after {
    background-color: var(--white);
  }

  .menu__item-body li a {
    font-size: 1.4rem;
  }

  /* principles */
  .principles {
    background-image: url(./../images/principles/cover-mob.png);
  }

  .principles__inner {
    gap: 3rem;
  }

  .principles__items {
    gap: 2rem;
  }

  .principles__item {
    width: 100%;
  }

  .principles-feat__inner {
    gap: 1rem;
  }

  .principles-feat__block {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .principles-feat__block img {
    width: 100%;
  }

  .principles-feat__block-wrap {
    width: 100%;
    margin: 0;
    padding: 2rem;
  }

  .principles-feat__block-wrap h3 {
    font-size: 1.6rem;
  }

  .principles-feat__block-wrap p {
    font-size: 1.2rem;
  }

  .principles-feat__desc {
    margin-top: 2rem;
  }

  .principles-feat__desc-wrap {
    column-count: unset;
  }
}

@media (max-width: 480px) {
  .product__item {
    padding: 2rem 1rem;
    text-align: left;
    align-items: flex-start;
  }

  .product__item-img {
    width: calc(100% - 1.6rem);
    margin: 0 auto 1rem auto;
  }

  .product__item-link {
    margin-top: auto;
  }
}

@media (max-width: 360px) {

  .geo__body-count {
    height: 4rem;
    font-size: 5.5rem;
  }

  .mission__photo {
    height: 28rem;
    right: -2rem;
  }
}