:root {
  /* color */
  --primary-color: #164194;
  --primary-color-30: #8094C4;
  --primary-color-50: rgba(22, 65, 148, 0.5);
  --primary-color-70: #3B5CA4;
  --primary-accent: #2EAC6A;
  --primary-white: #F2F3FA;
  --primary-white-10: rgba(242, 243, 250, 0.1);
  --primary-white-50: #f2f3fa80;
  --primary-black: #424E67;
  --primary-black-10: #424e671a;
  --primary-black-30: #424e674d;
  --primary-black-50: #424e6780;
  --primary-yellow: #FDCC68;
  --primary-red: #E30613;
  --primary-grey: #A0A6B3;
  --primary-grey-20: #A0A6B333;
  --primary-grey-sec: #7E7E7E;
  --primary-grey-thrd: #DBDEE9;
  --primary-grey-fourth: #D9D9D9;
  --primary-bg: #EAECF7;
  --primary-bg-30: rgba(234, 236, 247, 0.3);

  --white: #ffffff;
  --white-10: rgb(255, 255, 255, 0.1);
  --white-20: rgb(255, 255, 255, 0.2);
  --white-30: rgb(255, 255, 255, 0.3);
  --white-50: rgb(255, 255, 255, 0.5);
  --black: #000000;
  --black-15: rgba(0, 0, 0, 0.15);
  --black-80: rgba(0, 0, 0, 0.8);
}