<section class="callback">
  <div class="container">
    <div class="callback__inner">
      <form class="callback__form" action="#" method="get">
        <h2 class="callback__title block-title">
          Свяжитесь с нами
        </h2>
        <div class="form-group">
          <i class="icon-person"></i>
          <input class="form-input" type="text" placeholder="Ваше имя">
        </div>
        <div class="form-group">
          <i class="icon-mail"></i>
          <input class="form-input" type="email" placeholder="Эл. почта">
        </div>
        <div class="form-group">
          <i class="icon-person"></i>
          <input class="form-input" type="text" placeholder="Название компании">
        </div>
        <button class="callback__btn btn btn-yellow">
          Отправить
        </button>
        <p class="callback__text">
          Нажимая кнопку «Отправить», я согласен с&nbsp;<a href="/policy.html">обработкой персональных данных</a> и с&nbsp;<a href="/agreement.html">пользовательским соглашением</a>
        </p>
      </form>
      <div class="callback__wrap" data-animation="parallax-img">
        <img class="callback__img" src="./images/main/contact.png" alt="">
      </div>
    </div>
  </div>
</section>