<!-- Подвал сайта -->
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <ul class="footer__list">
        <li class="footer__list-item">
          <a class="footer__list-title" href="/catalog">
            Продукция
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/">
            для B2B
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/">
            для B2C
          </a>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__list-item">
          <a class="footer__list-title" href="/about">
            О заводе
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/about">
            История завода
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/quality">
            Контроль Качества
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/vacancy">
            Вакансии
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/news">
            Пресс-центр
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/certificates">
            Документы
          </a>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__list-item">
          <a class="footer__list-title" href="/">
            Партнерам
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-title" href="/">
            Где купить
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-title" href="/contacts">
            Контакты
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-title" href="/map">
            Карта сайта
          </a>
        </li>
      </ul>
      <div class="footer__contact">
        <div class="footer__contact-wrap">
          <a class="footer__contact-phone" href="">
            8 (383) 204-59-80
          </a>
          <p>
            Режим работы понедельник&nbsp;&mdash; пятница с&nbsp;8:00 до&nbsp;19:00
          </p>
        </div>
        <div class="footer__contact-wrap">
          <h6>
            Адрес:
          </h6>
          <p>
            Новосибирская&nbsp;область, р.&nbsp;п.&nbsp;Чаны, ул.&nbsp;Ленина,&nbsp;260.
          </p>
        </div>
        <img class="footer__contact-img" src="./images/main/logo-roskachestvo.svg" alt="">
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <div class="footer__bottom-wrap">
          <p>
            © 2024 Маслодельный комбинат Чановский
          </p>
          <a href="/privacy.html">Политика конфиденциальности</a>
          <a href="/policy.html">Политика обработки персональных данных</a>
        </div>
        <a class="footer__bottom-logo" href="/">
          <img src="./images/logo/logo-grey.svg" alt="">
        </a>
        <p>
          <a href="https://1and2.ru/">Разработка и&nbsp;продвижение сайта&nbsp;&mdash; Once&amp;Twice</a>
        </p>
      </div>
    </div>
  </div>
</footer>
</div>
<!-- Плашки -->
<!--=include plate.html-->
<!-- scipts -->
<script src="./libs/gsap/gsap.min.js" defer></script>
<script src="./libs/gsap/ScrollSmoother.min.js" defer></script>
<script src="./libs/gsap/ScrollTrigger.min.js" defer></script>
<script src="./libs/lenis/lenis.min.js" defer></script>
<script src="./libs/swiper/swiper-bundle.min.js" defer></script>
<script src="./js/main.js" defer></script>
</body>

</html>