<!-- Мобильное меню -->
<!--=include menu.html-->
<!-- Шапка сайта -->
<header class="header">
  <div class="container header__container">
    <div class="header__inner">
      <a class="header__logo" href="/mkch">
        <picture class="header__logo-pic">
          <source media="(min-width: 769px)" srcset="./images/logo/logo.svg" type="image/png">
          <source media="(max-width: 768px)" srcset="./images/logo/logo-blue.svg" type="image/png">
          <img class="header__logo-img" src="./images/logo/logo.svg" alt="">
        </picture>
        <picture class="header__logo-pic innerPage__logo">
          <source media="(min-width: 769px)" srcset="./images/logo/logo-blue.svg" type="image/png">
          <source media="(max-width: 768px)" srcset="./images/logo/logo.svg" type="image/png">
          <img class="header__logo-img" src="./images/logo/logo-blue.svg" alt="">
        </picture>
      </a>
      <div class="header__info">
        <div class="header__info-item">
          <img src="./images/icon/geo.svg" alt="">
          <p>
            Новосибирская&nbsp;область, <br> р.&nbsp;п.&nbsp;Чаны, ул.&nbsp;Ленина,&nbsp;260.
          </p>
        </div>
        <div class="header__contact">
          <div class="header__contact-wrap">
            <div class="header__contact-phone">
              <img src="./images/icon/phone.svg" alt="">
              <a id="header-phone" href="tel:+73832045980" data-value="8 (383) 204-59-80">
                8 (383) 204-59-80
              </a>
              <i class="icon-chevron-arrow"></i>
            </div>
            <div class="header__contact-content">
              <div class="header__contact-links">
                <a class="header__contact-link" href="https://wa.me/+73832045980">
                  <i class="icon-whatsapp-border"></i>
                  <span>
                    В WhatsApp
                  </span>
                </a>
                <a class="header__contact-link" href="https://t.me/+73832045980">
                  <i class="icon-telegram-border"></i>
                  <span>
                    В Telegram
                  </span>
                </a>
                <a class="header__contact-link" href="mailto:pochta@mail.ru">
                  <i class="icon-mail-border"></i>
                  <span>
                    Написать на почту
                  </span>
                </a>
                <div class="header__contact-info">
                  <span>
                    Режим работы:
                  </span>
                  <p>
                    пн-пт с 8:00 до 19:00
                  </p>
                </div>
              </div>
            </div>
          </div>
          <button class="header__contact-btn btn btn-yellow modal__btn" data-id="modal-callback">
            Связаться с нами
          </button>
        </div>
      </div>
      <nav class="nav">
        <div class="search">
          <button id="search__btn" class="search__btn">
            <i class="icon-search"></i>
          </button>
          <input type="text" name="search" placeholder="Примерный запрос поиска на сайте">
          <div class="search__block">
            <ul>
              <li>
                <a href="/mkch/results.html">
                  <p>
                    Примерный запрос предложенный поиском автоматически
                  </p>
                  <span>
                    Перейти
                  </span>
                </a>
              </li>
              <li>
                <a href="/mkch/results.html">
                  <p>
                    Примерный запрос предложенный поиском автоматически
                  </p>
                  <span>
                    Перейти
                  </span>
                </a>
              </li>
              <li>
                <a href="/mkch/results.html">
                  <p>
                    Примерный запрос предложенный поиском автоматически
                  </p>
                  <span>
                    Перейти
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="nav__items">
          <div class="nav__item nav__item--first">
            <a class="nav__item-link" href="/mkch/catalog">
              <span>Продукция</span>
              <i class="icon-chevron-circle"></i>
            </a>
            <ul class="nav__list">
              <h4>
                Для B2B
              </h4>
              <li>
                <a class="nav__list-link" href="/mkch/catalog">
                  <img src="./images/menu/b2b-moloko.png" alt="">
                  <span>Сухое молоко</span>
                </a>
              </li>
              <li>
                <a class="nav__list-link" href="/mkch/catalog">
                  <img src="./images/menu/b2b-maslo.png" alt="">
                  <span>Масло сливочное</span>
                </a>
              </li>
              <h4>
                Для B2С
              </h4>
              <li>
                <a class="nav__list-link" href="/mkch/catalog">
                  <img src="./images/menu/b2c-moloko.png" alt="">
                  <span>Молоко </span>
                </a>
              </li>
              <li>
                <a class="nav__list-link" href="/mkch/catalog">
                  <img src="./images/menu/b2c-smetana.png" alt="">
                  <span>Сметана </span>
                </a>
              </li>
              <li>
                <a class="nav__list-link" href="/mkch/catalog">
                  <img src="./images/menu/b2c-maslo.png" alt="">
                  <span>Масло сливочное</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="nav__item">
            <a class="nav__item-link" href="/mkch/about">
              <span>О заводе</span>
              <i class="icon-chevron-circle"></i>
            </a>
            <ul class="nav__list">
              <li>
                <a class="nav__list-link" href="/mkch/about">
                  История завода
                </a>
              </li>
              <li>
                <a class="nav__list-link" href="/mkch/quality">
                  Контроль Качества
                </a>
              </li>
              <li>
                <a class="nav__list-link" href="/mkch/vacancy">
                  Вакансии
                </a>
              </li>
              <li>
                <a class="nav__list-link" href="/mkch/news">
                  Пресс-центр
                </a>
              </li>
              <li>
                <a class="nav__list-link" href="/mkch/certificates">
                  Документы
                </a>
              </li>
            </ul>
          </div>
          <div class="nav__item">
            <a class="nav__item-link" href="/mkch/principles">
              Партнерам
            </a>
          </div>
          <div class="nav__item">
            <a class="nav__item-link" href="/mkch/buy">
              Где купить
            </a>
          </div>
          <div class="nav__item">
            <a class="nav__item-link" href="/mkch/contacts">
              Контакты
            </a>
          </div>
        </div>
      </nav>
      <button id="burger" class="burger">
      </button>
    </div>
  </div>
</header>