<div id="menu" class="menu lenis" data-lenis-prevent>
  <div class="menu__inner">
    <button class="menu__close">
      <span></span>
    </button>
    <div class="menu__social">
      <a href="https://wa.me/+73832045980">
        <i class="icon-whatsapp-border"></i>
      </a>
      <a href="https://t.me/+73832045980">
        <i class="icon-telegram-border"></i>
      </a>
      <a href="mailto:pochta@mail.ru">
        <i class="icon-mail-border"></i>
      </a>
    </div>
    <div class="menu__body">
      <ul class="menu__list">
        <li class="menu__item accordion">
          <div class="menu__item-head">
            Продукция
            <i class="icon-chevron-circle"></i>
          </div>
          <div class="menu__item-body">
            <ul>
              <h4>
                Для B2B
              </h4>
              <li>
                <a href="/mkch/catalog">
                  <img src="./images/menu/b2b-moloko.png" alt="">
                  Сухое молоко
                </a>
              </li>
              <li>
                <a href="/mkch/catalog">
                  <img src="./images/menu/b2b-maslo.png" alt="">
                  Масло сливочное
                </a>
              </li>
              <h4>
                Для B2С
              </h4>
              <li>
                <a href="/mkch/catalog">
                  <img src="./images/menu/b2c-moloko.png" alt="">
                  Молоко 
                </a>
              </li>
              <li>
                <a href="/mkch/catalog">
                  <img src="./images/menu/b2c-smetana.png" alt="">
                  Сметана 
                </a>
              </li>
              <li>
                <a href="/mkch/catalog">
                  <img src="./images/menu/b2c-maslo.png" alt="">
                  Масло сливочное
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu__item accordion">
          <div class="menu__item-head">
            О заводе
            <i class="icon-chevron-circle"></i>
          </div>
          <div class="menu__item-body">
            <ul>
              <li>
                <a href="/mkch/about">
                  История
                </a>
              </li>
              <li>
                <a href="/mkch/quality">
                  Производство
                </a>
              </li>
              <li>
                <a href="/mkch/certificates">
                  Сертификаты и лицензии
                </a>
              </li>
              <li>
                <a href="/mkch/vacancy">
                  Вакансии
                </a>
              </li>
              <li>
                <a href="/mkch/news">
                  Пресс-центр
                </a>
              </li>
              <li>
                <a href="/mkch/quality">
                  Контроль качества
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu__item accordion">
          <div class="menu__item-head">
            <a href="/mkch/principles">
              Партнерам
            </a>
          </div>
        </li>
        <li class="menu__item accordion">
          <div class="menu__item-head">
            <a href="/mkch/buy">
              Где купить
            </a>
          </div>
        </li>
        <li class="menu__item accordion">
          <div class="menu__item-head">
            <a href="/mkch/contacts">
              Контакты
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="menu__foot">
      <div class="menu__foot-wrap">
        <a href="tel:+73832045980">8 (383) 204-59-80</a>
        <p>
          пн-пт с 8:00 до 19:00
        </p>
      </div>
      <div class="menu__foot-wrap">
        <span>Адрес:</span>
        <p>
          Новосибирская область, р. п. Чаны, ул. Ленина, 260.
        </p>
      </div>
      <div class="menu__foot-wrap">
        <span>Эл.почта:</span>
        <a href="mailto:pochta@mail.ru">
          pochta@mail.ru
        </a>
      </div>
    </div>
  </div>
  <div class="menu__overlay"></div>
</div>