<div id="menu" class="menu lenis" data-lenis-prevent>
  <div class="menu__inner">
    <button class="menu__close">
      <span></span>
    </button>
    <div class="menu__body">
      <ul class="menu__list">
        <li class="menu__item accordion">
          <div class="menu__item-head">
            Продукция
            <i class="icon-chevron-circle"></i>
          </div>
          <div class="menu__item-body">
            <ul>
              <li>asd</li>
            </ul>
          </div>
        </li>
        <li class="menu__item accordion">
          <div class="menu__item-head">
            О заводе
            <i class="icon-chevron-circle"></i>
          </div>
          <div class="menu__item-body">
            <ul>
              <li>История</li>
              <li>Производство</li>
              <li>Сертификаты и лицензии</li>
              <li>Вакансии</li>
              <li>Пресс-центр</li>
              <li>Контроль качества</li>
            </ul>
          </div>
        </li>
        <li class="menu__item accordion">
          <div class="menu__item-head">
            Партнерам
            <i class="icon-chevron-circle"></i>
          </div>
          <div class="menu__item-body">
            <ul>
              <li>asd</li>
            </ul>
          </div>
        </li>
        <li class="menu__item accordion">
          <div class="menu__item-head">
            Где купить
            <i class="icon-chevron-circle"></i>
          </div>
          <div class="menu__item-body">
            <ul>
              <li>asd</li>
            </ul>
          </div>
        </li>
        <li class="menu__item accordion">
          <div class="menu__item-head">
            Контакты
            <i class="icon-chevron-circle"></i>
          </div>
          <div class="menu__item-body">
            <ul>
              <li>asd</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="menu__foot">
      <div class="menu__foot-wrap">
        <a href="tel:+73832045980">8 (383) 204-59-80</a>
        <p>
          пн-пт с 8:00 до 19:00
        </p>
      </div>
      <div class="menu__foot-wrap">
        <span>Адрес:</span>
        <p>
          Новосибирская область, р. п. Чаны, ул. Ленина, 260.
        </p>
      </div>
      <div class="menu__foot-wrap">
        <span>Эл.почта:</span>
        <a href="mailto:pochta@mail.ru">
          pochta@mail.ru
        </a>
      </div>
    </div>
  </div>
  <div class="menu__overlay"></div>
</div>