<div id="cookie" class="cookie">
  <div class="container">
    <div class="cookie__inner">
      <div class="cookie__block">
        <p>
          Этот сайт использует файлы <a href="/cookie.html">сооkіе</a> для хранения данных.
          Продолжая использовать сайт, вы&nbsp;даете свое согласие на&nbsp;работу с&nbsp;этими файлами.
        </p>
        <button class="btn btn-green" onclick="checkCookies()">
          Принять и&nbsp;закрыть
        </button>
      </div>
    </div>
  </div>
</div>