<div class="modal lenis" id="modal-order" data-lenis-prevent>
  <div class="modal__box">
    <button class="modal__close-btn">
    </button>
    <div class="modal__content">
      <div class="modal__head">
        <h2>Заказать продукцию завода</h2>
      </div>
      <div class="modal__body">
        <form action="#" method="get">
          <div class="form-group">
            <i class="icon-person"></i>
            <input class="form-input" type="text" placeholder="Ваше имя" required>
          </div>
          <div class="form-group">
            <i class="icon-mail"></i>
            <input class="form-input" type="text" placeholder="Эл. почта" pattern="^\S+@\S+\.\S+$" minlength="2"
              maxlength="40" required>
          </div>
          <div class="form-group">
            <i class="icon-person"></i>
            <input class="form-input" type="text" placeholder="Название компании" required>
          </div>
          <button class="form-btn btn btn-yellow">
            Отправить
          </button>
          <div class="form-bottom">
            <p>
              Нажимая кнопку «Отправить», я согласен с&nbsp;<a href="/mkch/policy.html">обработкой персональных
                данных</a> и с&nbsp;<a href="/mkch/agreement.html">пользовательским соглашением</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal lenis" id="modal-callback" data-lenis-prevent>
  <div class="modal__box">
    <button class="modal__close-btn">
    </button>
    <div class="modal__content">
      <div class="modal__head">
        <h2>Свяжитесь<br>
          с&nbsp;нами</h2>
      </div>
      <div class="modal__body">
        <form action="#" method="get">
          <div class="form-group">
            <i class="icon-person"></i>
            <input class="form-input" name="names" type="text" placeholder="Ваше имя" required>
          </div>
          <div class="form-group">
            <i class="icon-mail"></i>
            <input class="form-input" name="mail" type="email" placeholder="Эл. почта" pattern="^\S+@\S+\.\S+$"
              minlength="2" maxlength="40" required>
          </div>
          <div class="form-group">
            <i class="icon-person"></i>
            <input class="form-input" name="company-name" type="text" placeholder="Название компании" required>
          </div>
          <button class="form-btn btn btn-yellow">
            Отправить
          </button>
          <div class="form-bottom">
            <p>
              Нажимая кнопку «Отправить», я согласен с&nbsp;<a href="/mkch/policy.html">обработкой персональных
                данных</a> и с&nbsp;<a href="/mkch/agreement.html">пользовательским соглашением</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>