.catalog {
  padding-top: 5rem;

  &__title {
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    border-bottom: 0.1rem solid var(--primary-grey-20);
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;

    .tabs__btns {
      gap: 1rem;
    }

    .tabs__btn:not(.dropdown__label) {
      background-color: var(--white);
      border: unset;
      padding: 0;

      &:hover {
        background-color: var(--primary-color);
        color: var(--white);
      }

      &.tabs__btn--active {
        background-color: var(--primary-color);
        color: var(--white);
      }
    }
  }

  &__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .catalog__btn:hover {
      background-color: var(--primary-accent);
      color: var(--white);
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 12.4rem;
    padding: 1.5rem 3.5rem;
    height: 5rem;
    border-radius: 2.5rem;
    background-color: var(--white);
    transition: all 0.3s ease;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 125%;
    color: inherit;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: var(--primary-color);
      color: var(--white);
    }

    &.tabs__c_btn--active {
      background-color: var(--primary-accent);
      color: var(--white);
    }
  }

  &__btn--active {
    background-color: var(--primary-accent);
    color: var(--white);
  }

  &__body {
    display: none;
    opacity: 0;

    &.tabs__catalog--active {
      display: block;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }

  &__items {
    display: none;
    flex-wrap: wrap;
    gap: 3rem;
    opacity: 0;

    &.tabs__panel--active {
      display: flex;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }

  &__item {
    width: calc(33.33333% - 2rem);
  }

  &__all-products {
    color: var(--primary-black);
    border: 0.1rem solid var(--primary-grey-thrd);
  }
}

.filter {
  display: flex;
  align-items: center;
  gap: 2rem;

  &__weight {
    .filter__text {
      // display: none;
      opacity: 0;
      height: 0;
    }

    &.show {

      .filter__text {
        // display: block;
        opacity: 1;
        height: auto;
      }
    }
  }

  &__parent {

    &--active {

      div[data-tab="cream"] {
        display: none;
      }

      .dropdown__option.cream {
        display: none;
      }
    }
  }

  &__text {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 125%;

    display: none;
  }

  &__items {
    display: none;
    align-items: center;
    gap: 1rem;

    &.tabs__filter--active {
      display: flex;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 8.4rem;
    height: 5rem;
    border-radius: 2.5rem;
    background-color: transparent;
    transition: all 0.3s ease;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 125%;
    text-align: center;
    border: 0.1rem solid var(--primary-grey-thrd);
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      border-color: var(--primary-accent);
      background-color: var(--primary-accent);
      color: var(--white);
    }

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
      margin: 0;
      cursor: pointer;
    }

    input {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      z-index: -10;
    }

    input:checked+label {
      background-color: var(--primary-accent);
      color: var(--white);
    }

    &.active {

      label {
        background-color: var(--primary-accent);
        color: var(--white);
      }
    }
  }
}