.quality {

  &__hero {
    height: 64rem;
    margin: 0;
    background-image: url(./../images/quality/bg.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
  }

  &__container {
    height: 100%;
  }

  &__inner {
    height: 100%;
  }

  &__head {
    display: flex;
    align-items: center;
    height: calc(100% - 9rem);
    position: relative;

    &-title {
      width: min-content;
      color: var(--white);
    }

    &-btn {
      position: absolute;
      bottom: 6rem;
      left: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      border: 0.1rem solid var(--white-50);
      transform: rotate(90deg);

      i {
        font-size: 1.44rem;
        line-height: 100%;
        color: var(--white);
      }
    }
  }

  &__body {
    margin-top: -9rem;
    padding: 6rem 12rem;
    background-color: var(--white);

    &-title {
      font-weight: 700;
      font-size: 3rem;
      line-height: 120%;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      max-width: 55.5rem;
    }
  }

  &__list {

    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;

      font-weight: 400;
      font-size: 1.6rem;
      line-height: 150%;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 150%;
      color: var(--primary-color);
    }

    input {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0;
      border: 0;
      position: relative;
    }

    &-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;

      li:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__table {
    margin-top: -1.5rem;
    max-width: 50rem;

    th,
    td {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 150%;
      text-align: center;
      padding: 1.5rem 0;
    }

    tr td:first-child {
      text-align: left;
    }
  }

  .form-input {
    margin-bottom: 0;
  }

  .callback__btn {
    margin: 0;
  }

  .callback__text {
    margin-top: -2.5rem;
  }
}